* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; }

h1:hover {
  cursor: pointer; }

html {
  width: 100%;
  height: 100%;
  color: #053f5e; }

body {
  width: 100%;
  height: 100%;
  background: white; }

#main-page {
  color: #707070; }
  #main-page .fa {
    padding: 0px 20px;
    color: #053f5e;
    font-size: 20px; }
  #main-page .profissional-info {
    position: absolute;
    top: 4%;
    left: 2%;
    font-size: 20px;
    text-transform: capitalize; }
  #main-page .personnal-info {
    position: absolute;
    top: 4%;
    right: 2%;
    font-size: 20px;
    text-transform: capitalize;
    direction: rtl; }
    #main-page .personnal-info div:not(:last-child) {
      margin-bottom: 20px; }
  #main-page .center {
    position: absolute;
    top: 45%;
    width: 100%;
    cursor: pointer; }
    #main-page .center #title, #main-page .center #subTitle {
      text-align: center;
      color: #707070;
      font-weight: lighter;
      cursor: pointer; }
      #main-page .center #title span, #main-page .center #subTitle span {
        color: #053f5e; }
    #main-page .center #title {
      font-size: 4.5rem;
      text-transform: uppercase; }
    #main-page .center #subTitle {
      font-size: 1.5rem;
      text-transform: uppercase; }

#secondary-page {
  width: 100%;
  height: 100%;
  color: #707070;
  box-shadow: 10px 10px 10px black; }
  #secondary-page .white,
  #secondary-page .blue {
    transition: .5s;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; }
    #secondary-page .white.gone,
    #secondary-page .blue.gone {
      transition: .5s;
      height: 0; }
    #secondary-page .white.takes--over,
    #secondary-page .blue.takes--over {
      transition: .5s;
      height: 100%; }
  #secondary-page .white {
    background: white;
    color: #053f5e; }
    #secondary-page .white .fa {
      color: #053f5e; }
    #secondary-page .white h1 {
      color: #053f5e; }
      #secondary-page .white h1::before {
        background-color: #053f5e; }
    #secondary-page .white .skills--title h1 {
      letter-spacing: 5px; }
  #secondary-page .blue {
    background: #053f5e;
    color: white; }
    #secondary-page .blue .fa {
      color: white; }
    #secondary-page .blue h1 {
      color: white; }
      #secondary-page .blue h1::before {
        background-color: white; }
    #secondary-page .blue .about--title h1 {
      letter-spacing: 5px; }
  #secondary-page .arrow {
    transition: .5s;
    font-size: 30px;
    position: absolute;
    text-align: center; }
    #secondary-page .arrow-up {
      top: 44%;
      color: white; }
    #secondary-page .arrow-down {
      top: 51%;
      color: #053f5e; }
  #secondary-page .go-up {
    transition: .5s;
    top: 2%; }
  #secondary-page .go-down {
    transition: .5s;
    top: 94%; }
  #secondary-page .active h1 {
    position: relative;
    font-weight: 400;
    text-decoration: none; }
    #secondary-page .active h1:hover {
      text-decoration: none; }
      #secondary-page .active h1:hover::before {
        width: 90%;
        left: 3%;
        transition: 0.5s ease all; }
    #secondary-page .active h1:focus {
      text-decoration: none; }
    #secondary-page .active h1:active {
      text-decoration: none; }
    #secondary-page .active h1::before {
      content: "";
      position: absolute;
      top: 100%;
      height: 3px !important;
      width: 40%;
      left: 30%;
      transition: 0.4s ease-out all .1s; }
  #secondary-page .content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 1000px;
    margin: auto;
    background: white;
    margin-bottom: 200px;
    color: black;
    text-transform: none;
    font-size: 20px; }
    #secondary-page .content .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 80px;
      width: 100%; }
      #secondary-page .content .flex-container .aboutme {
        text-align: center;
        width: 50%; }
        #secondary-page .content .flex-container .aboutme .resume {
          padding: 20px; }
          #secondary-page .content .flex-container .aboutme .resume .btn {
            padding: 20px 40px;
            border-radius: 2px; }
            #secondary-page .content .flex-container .aboutme .resume .btn-resume {
              font-size: 20px;
              font-weight: bolder;
              border: 5px solid #053f5e; }
              #secondary-page .content .flex-container .aboutme .resume .btn-resume:hover {
                background: #053f5e;
                color: white; }
        #secondary-page .content .flex-container .aboutme .discription p {
          line-height: 20px; }
        #secondary-page .content .flex-container .aboutme .rounded-img {
          border: 1px solid black;
          border-radius: 50%;
          height: 10em;
          width: 10em; }
        #secondary-page .content .flex-container .aboutme div:not(:last-child) {
          margin-bottom: 30px; }
        #secondary-page .content .flex-container .aboutme .map-container {
          margin-top: 10%;
          text-align: left;
          /* Set the size of the div element that contains the map */ }
          #secondary-page .content .flex-container .aboutme .map-container h3 {
            margin-bottom: 10px; }
          #secondary-page .content .flex-container .aboutme .map-container #map {
            height: 300px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
            filter: grayscale(70%); }
        #secondary-page .content .flex-container .aboutme .moreAbout {
          display: grid;
          grid-template-columns: 50% 50%;
          text-align: left; }
          #secondary-page .content .flex-container .aboutme .moreAbout div h3 {
            margin-bottom: 30px; }
          #secondary-page .content .flex-container .aboutme .moreAbout div:first-child {
            grid-column-start: 1; }
          #secondary-page .content .flex-container .aboutme .moreAbout div:last-child {
            grid-column-start: 2; }
          #secondary-page .content .flex-container .aboutme .moreAbout div ul {
            list-style: none; }
            #secondary-page .content .flex-container .aboutme .moreAbout div ul li {
              margin-bottom: 10px; }
              #secondary-page .content .flex-container .aboutme .moreAbout div ul li a {
                color: #053f5e;
                font-weight: bolder; }
                #secondary-page .content .flex-container .aboutme .moreAbout div ul li a:hover {
                  text-decoration: underline; }
    #secondary-page .content .flex-item h2 {
      font-size: 70px; }

@media only screen and (max-width: 760px) {
  .go-in {
    left: 43%; }

  #main-page .center {
    position: absolute;
    top: 45%;
    width: 100%;
    cursor: pointer; }
    #main-page .center #title, #main-page .center #subTitle {
      text-align: center;
      color: #707070;
      font-weight: lighter;
      cursor: pointer; }
      #main-page .center #title span, #main-page .center #subTitle span {
        color: #053f5e; }
    #main-page .center #title {
      font-size: 3rem;
      text-transform: uppercase; }
    #main-page .center #subTitle {
      font-size: .85rem;
      text-transform: uppercase; }
  #main-page .personnal-info {
    left: 2%;
    font-size: 20px;
    text-transform: capitalize;
    direction: ltr; }
    #main-page .personnal-info div:not(:last-child) {
      margin-bottom: 20px; } }
@media only screen and (max-width: 760px) {
  #secondary-page .content .flex-container .aboutme {
    text-align: center;
    width: 90%; }
    #secondary-page .content .flex-container .aboutme .resume {
      padding: 20px; }
      #secondary-page .content .flex-container .aboutme .resume .btn {
        padding: 20px 40px;
        width: 90%; }
    #secondary-page .content .flex-container .aboutme .discription p {
      line-height: 20px; }
    #secondary-page .content .flex-container .aboutme .rounded-img {
      border: 1px solid black;
      border-radius: 50%;
      height: 10em;
      width: 10em; }
    #secondary-page .content .flex-container .aboutme div:not(:last-child) {
      margin-bottom: 30px; }
    #secondary-page .content .flex-container .aboutme .moreAbout {
      display: flex;
      flex-direction: column;
      text-align: center; }
      #secondary-page .content .flex-container .aboutme .moreAbout div h3 {
        margin-bottom: 30px; }
      #secondary-page .content .flex-container .aboutme .moreAbout div ul {
        list-style: none; }
        #secondary-page .content .flex-container .aboutme .moreAbout div ul li {
          margin-bottom: 10px; }
          #secondary-page .content .flex-container .aboutme .moreAbout div ul li a {
            color: #053f5e;
            font-weight: bolder; }
            #secondary-page .content .flex-container .aboutme .moreAbout div ul li a:hover {
              text-decoration: underline; }
  #secondary-page .content .flex-item h2 {
    font-size: 70px; } }

@media only screen and (max-width: 760px) {
  #back-to-main #back {
    display: none; }

  .personnal-info,
  .profissional-info {
    display: none; }

  .listIcon {
    display: block;
    width: 100%;
    direction: rtl; }
    .listIcon .fa-times,
    .listIcon .fa-bars {
      font-size: 30px !important;
      position: absolute;
      right: 3%;
      top: 3%; }

  .side-menu {
    transition: .5s;
    display: block;
    position: fixed;
    z-index: 10000;
    background: white;
    height: 100%;
    width: 0%; }
    .side-menu .fa-times {
      display: none; }
    .side-menu .icons {
      display: none; }

  #ok:checked ~ .side-menu {
    transition: .5s;
    width: 100%; }
    #ok:checked ~ .side-menu .icons {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #ok:checked ~ .side-menu .icons .fa {
        font-size: 25px !important;
        margin: 5%; }
    #ok:checked ~ .side-menu .fa-times {
      display: block; }
    #ok:checked ~ .side-menu .personnal-info, #ok:checked ~ .side-menu .profissional-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: initial; } }
@media only screen and (min-width: 760px) {
  .listIcon {
    display: none; }

  .side-menu {
    display: none; }
    .side-menu .fa-times {
      display: none; } }
.close:hover {
  transition: .5s;
  transform: rotate(-90deg); }

.close {
  transition: .5s;
  z-index: 99999999999; }

.vanish,
.appear {
  transition: .5s; }

.vanish {
  opacity: 0; }

.appear {
  opacity: 1; }

.container--gone {
  display: none; }

.collapse {
  transition: 1.9s;
  height: 0; }

.go-in {
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  left: 48%;
  top: 91%;
  padding: 0;
  animation: slideIn 1s ease-in; }

#back-to-main {
  color: white; }

.top-left-corner {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 30px;
  color: transparent; }

.to-top {
  top: 0%; }

.bottom {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  color: white;
  background: transparent;
  padding: 10px 15px;
  border: none;
  border-radius: 20px 7px; }
  .bottom-right-corner {
    bottom: 2%;
    right: 2%;
    color: white;
    background: #053f5e;
    border-radius: 20px; }
  .bottom-left-corner {
    bottom: 2%;
    left: 2%; }
    .bottom-left-corner:hover .close {
      transition: .5s;
      transform: rotate(-90deg); }
  .bottom span {
    padding-left: 10px;
    padding-top: 8px;
    text-transform: uppercase; }

a {
  text-decoration: none; }

@keyframes slideIn {
  0% {
    top: 87%; }
  25% {
    top: 91%; }
  50% {
    top: 89%; }
  100% {
    top: 91%; } }
@keyframes pageSwitch {
  from {
    height: 100%; }
  to {
    height: 0%; } }
@keyframes rotated {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes showUp {
  from {
    top: 100%; }
  to {
    top: 0%; } }
@keyframes disappear {
  from {
    top: 0%; }
  to {
    top: 100%; } }

/*# sourceMappingURL=main.css.map */
