:root{
	--blue  : #75439a;
	--white : white;
}
*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato;

}
h1:hover{
	cursor: pointer;
}
html,
body,
.container{
	width: 100%;
	height: 100%;
	color:var(--white);
}
.white,
.blue{
	transition: .5s;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.about--title h1,
.skills--title h1{
	letter-spacing: 5px;
}

.blue{
	background: var(--blue);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.white{
	background:white;
	color: var(--blue);
}
.white .fa{
	color: var(--blue) ;
}
.blue .fa{
	color:var(--white) ;
}
.secound{
	display: none;
}
/*
  help positioning things on the page
 */
.arrow{
	transition: .5s;
	font-size: 30px;
	position: absolute;
	text-align: center;
}
.arrow-up{
	top: 44%;
}
.arrow-down{
	top: 51%;
}
.top-left-corner{
	position: absolute;
	top: 2%;
	left: 2%;
	font-size: 30px;
	color: transparent;
}

/*
 *these classes are used in js to make things move around smoothly
 **/

.gone{
	transition: .5s;
	height: 0;
	overflow: hidden;
}
.takes--over{
	transition: .5s;
	height: 100%;
}
.container--gone{
	display: none;
}
.go-up{
	transition: .5s;
	top: 2%;
	color: black ;
}
.go-down{
	transition: .5s;
	top: 94%;
	color:var(--white);
}
.vanish{
	transition: .5s;
	opacity: 0;
}

/*
 *	the hover part .. this only activate when you pick one of the choices
 */

.active h1 {
  position: relative;
  font-weight: 400;
}
.active h1,
.active h1:hover,
.active h1:focus,
.active h1:active {
  text-decoration: none;
}
.active h1::before{
  content: "";
  position: absolute;
}
.active h1::before {
  top: 100%;
  height: 3px !important;
  width: 40%;
  left: 30%;
	transition: 0.4s ease-out all .1s;
}
.white h1::before{
  background-color: var(--blue);
}
.blue h1::before{
	background-color:var(--white);
}
.active h1:hover::before{
  width: 90%;
  left: 3%;
  transition: 0.5s ease all;
}

.content{
	position: absolute;
	top: 100%;
	width: 100%;
	min-height:1000px ;
	margin: auto;
	display: none;
	background: white;
	margin-bottom: 200px;
	z-index: 999;
	color: black;
	text-transform: uppercase;
	/* box-shadow: 0px 0px 60px black; */
	/* border-radius: 10px; */
}
.toCenter{
	transition: 1.4s;
	top: 20%;
}
.content--title{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.content--body{
	width: 100%;
	margin: auto;
}
.content--body h1,
.content--body h2,
.content--body h3,
.content--body h4,
.content--body h5{
	margin-top: 30px;
}
.content--body p {
	padding-top: 30px;
	margin-left: 30px;
}
.img-circle{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border:5px solid black ;
}
.img-circle:hover{
	border: 5px solid grey;
}

@media only screen and (max-width:760px){
	.img-circle {
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 5px solid black;
	}
}
