* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_family_1;
}

h1 {
    &:hover {
        cursor: pointer;
    }
}

html {
    width: 100%;
    height: 100%;
    color: $blueish;
}

body {
    width: 100%;
    height: 100%;
    background: $white;
}

a{
    color: $blueish;
}