@keyframes slideIn{
    0% {
        top: 87%;
    }   
    25%{
        top: 91%;
    }

    50% {
        top: 89%;
    }

    100% {
        top: 91%;
    }
}


@keyframes pageSwitch {
    from{
        height : 100%;
    }
    to{
        height: 0%;
    }
}


@keyframes rotated{
    from{
        transform: rotate(0deg);
    }
    to{
        transform : rotate(360deg);
    }
}


@keyframes showUp{
    from{
        top : 100%;
    }
    to{
        top : 0%;
    }
}

@keyframes disappear{
    from{
        top : 0%;
    }
    to {
        top : 100%;
    }
}