@media only screen and (max-width: 760px) {
    
    #main-page{
        .center {
            
            position: absolute;
            top: 38%;
            width: 100%;
            cursor: pointer; 

            & #title,
            & #subTitle {
                text-align: center;
                color: $font_color;
                font-weight: lighter;
                cursor: pointer;
                
                & span {
                    color: $blueish;
                }
            }
            
            & #title {
                font-size: 3rem;
                text-transform: uppercase;
            }

            & #subTitle {
                font-size: .85rem;
                text-transform: uppercase;
            }
            
        }
        
        .personnal-info{
           
            left: 2%;
            font-size: 20px;
            text-transform: capitalize;
            direction: ltr; 

            & div:not(:last-child){
                margin-bottom: 20px;
            
            }
        }
    }
}

#secondary-page{
    
    @media only screen and (max-width: 760px) {
        .content {
        
            & .flex{

                &-container{ 
                    
                    & .aboutme{
                        
                        text-align: center;
                        width: 90%;
                        
                        & .resume {
                            
                            padding: 20px;

                            .btn{
                                padding: 20px 40px;
                                width: 90%;
                            }   
                        }

                        & .discription{
                            & p{
                                line-height: 20px;
                            }
                        }
                        
                        & .rounded-img{

                            border: 1px solid black;
                            border-radius: 50%;
                            height: 10em;
                            width: 10em;
                        }
                        
                        & div:not(:last-child){
                            margin-bottom: 30px; 
                        }

                        & .moreAbout{
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                        
                            & div{
                        
                                & h3{
                                    margin-bottom: 30px;
                                }
                            }
                        
                            & div ul{
                                list-style: none;
                        
                                & li{
                        
                                    margin-bottom: 10px;
                        
                                    & a{
                                        color: $blueish ;
                                        font-weight: bolder;

                                        &:hover{    
                                        text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                & .skills{

                    &-item{
                        width: 100%;
                        flex-direction: column; 
                        
                        & > div{
                            width: 100%;
                        
                        }
                
                    }
                
                }

                &-item{
                    
                    & h2{
                        font-size: 70px;
                    }  
                }       
            }
        }
    }
}

@media only screen and (max-width: 760px){

    #back-to-main #back {
        display: none;
    }
    // .side-menu{
       
    // }
    
    .personnal-info,
    .profissional-info{
        display: none;
    }

    .listIcon{
        display: block; 
        width: 100%;
       direction: rtl;

        & .fa-times,
        .fa-bars{
            font-size: 30px !important;    
            position: absolute;
            left: 3%; 
            top:3%;
        }
    }
    
    .side-menu{
        transition: .5s;
        display: block; 
        position: fixed;
        z-index: 10000;
        background: $white;
        height: 100%;
        width: 0%;
        
        & .fa-times{
            display: none;    
        }
        .icons{
            display: none;

        }
    }

    #ok:checked ~ .side-menu{    
        transition: .5s; 
        width: 100%;
        opacity: .95;

        & .icons{
            margin-top: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            direction: ltr;
            & div{
                margin: 5% ;
            }
            & .fa{
                font-size: 25px !important;  
                text-align: center;      
                border: 1px solid $blueish; 
                padding: 10px;
                border-radius: 100%; 
               
            }
        }
        
        & .fa-times{
            display: block;    
            color: $blueish !important;
            &:hover{
                animation: 1s rotated ease-in-out; 
            }
        }

        & .personnal-info,
        & .profissional-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: initial;
        }
    }
            

}

@media only screen and (min-width: 760px){
     .listIcon{
        display: none;
    }
    
    .side-menu{
        display: none;
        & .fa-times{
            display: none;    
        }
    }
}